alabaster==0.7.12
ansimarkup==1.4.0
ask-sdk-core==1.11.0
ask-sdk-model==1.14.0
ask-sdk-runtime==1.11.0
ask-sdk-webservice-support==1.0.0
asn1crypto==0.24.0
astroid==2.2.5
Babel==2.9.1
better-exceptions-fork==0.2.1.post6
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
coveralls==1.5.1
cryptography==2.4.2
Django==2.1.5
django-alexa==0.0.9
django-ask-sdk==1.0.0
djangorestframework==3.9.0
docopt==0.6.2
docutils==0.14
falcon==2.0.0
idna==2.8
imagesize==1.1.0
isort==4.3.21
Jinja2==2.10
lazy-object-proxy==1.4.2
loguru==0.2.4
MarkupSafe==1.1.0
mccabe==0.6.1
packaging==18.0
pbr==5.1.1
pem==19.2.0
pycparser==2.19
pycryptodome==3.7.2
Pygments==2.3.1
pylint==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
python-dateutil==2.8.0
pytz==2018.9
pyversion3==0.5.12
redis==3.3.8
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.24.1
wrapt==1.11.2
